<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:warning] %>
      <div class="notice"><%= flash[:warning] %></div>
    <% end %>
    <%= yield %>
    <%= sign_in? %>
    <% if sign_in? %>
      <%= "User : #{@current_user.username}" %>
      <%= link_to "Sign out", sessions_delete_path, method: :delete %>
    <% else %>
      <%= link_to "Log in", new_session_path %>
    <% end %>
  </body>
</html>
